<a href="https://colab.research.google.com/github/minjepark/TIL/blob/main/2%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [9]:
#12
시가총액 = 2980000000000
현재가 = 50000
PER = 15.79
print(시가총액)
print(현재가)
print(PER)

2980000000000
50000
15.79

In [14]:
#13
s = 'hello'
t = 'python'
print(s+'!', t)

hello! python

In [17]:
#14 
2+2*3

8

In [18]:
#15
a = 128
type(a)

int

In [21]:
#16
num_str ='720'
int_num = int(num_str)
print(int_num)
print(type(int_num))

720
<class 'int'>

In [25]:
#17
num = 100
str_num = str(num)
print(str_num);print(type(str_num))

100
<class 'str'>

In [27]:
#18
str_num = '15.79'
float_num = float(str_num)
print(float_num);print(type(float_num))

15.79
<class 'float'>

In [30]:
#19

year ='2020'
int_year = int(year)
print(int_year-1);print(int_year-2);print(int_year-3)

2019
2018
2017

In [31]:
#20
aircon = 48584
total = aircon*26
print(total)

1263184

In [ ]:
#오늘의 학습
#1. sep 구분자 사용 = print(''), sep='/'

#2. 한 줄에 명령어 여러개 사용하고 싶으면 ;(세미콜론 사용) = print('qnffkqmfk') ;print('qmffkqmffk')

#3. 문자를 한 번에 붙이고 싶다면 print('djWjrh', end='');print('dkssudgktpdy')

#4. print(변수 + '', 변수) = print(,는 진짜 쉼표로 출력이 된다. )